<% if (!user) { %>
  <h2>Welcome! Please log in.</h2>
  <a href="<%= signIn %>">Sign In</a>
  <a href="<%= signUp %>">Sign Up</a>
  <a href="<%= updateProfile %>">Update Profile</a>
  <a href="<%= resetPassword %>">Reset Password</a>
<% } else { %>
  <h2>Hello, <%= user.emails[0] %>.</h2>
  <a href="/account">Account Info</a></br>
  <a href="/logout">Log Out</a>
<% } %>